<!doctype html>
<html>
  <head>
    <title>Hacker Chat</title>
    <link rel="stylesheet" href="./components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./components/bootstrap/dist/css/bootstrap-theme.min.css">
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Hack Chattanooga Chatting Chatroom of Chatting Hackers</h1>
      </div>
    </div>
    <!--Scripts-->
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="./components/angular/angular.min.js"></script>
  </body>
</html>