<div class="jumbotron">
	<div class="container">
		<h1>Hack Chattanooga Chatroom of Chatting</h1>
	</div>
	<div ng-Controller="LoginController" class="input-group input-group-lg">
		<span class="input-group-addon">
			<button ng-click="submit(data)" type="submit" class="btn btn-primary btn-large">login</button>
		</span>
		<input ng-model="data.nick" type="text" class="form-control" placeholder="nick_name">
		<input ng-model="data.pwd" type="password"  class="form-control" placeholder="password">
	</div>
</div>